body {
    background: rgb(144,93,14);
    background: linear-gradient(0deg, rgba(144,93,14,1) 0%, rgba(0,0,0,1) 100%);
}

#mainNavbar {
    text-decoration: underline;
    background-color: darkslategray;
    opacity: 0.8;
    text-decoration: none;
    
}

#mainNavbar a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
